<!--index.html-->
{% extends "base.html" %}
{% block title %}吐槽大会{% endblock %}
{% block content %}
<div class = 'container'>
    {% if message %}
        <div class = 'alert alert-warning'>{{message}}</div>
    {% endif %}
    <div class = 'row'>
        <div class = 'col-md-12'>
            <div class = 'panel panel-default'>
                <div class = 'panel-heading' align = center>
                    <h3>吐槽大会</h3>
                </div>
            </div>
        </div>
    </div>
    {% if username %}
   <h4> 欢迎：{{username}}</h4><br/>
   <h4> 吐槽养性，开心养神</h4><br/>
   {% else %}
   <h4><a href = 'login/'>请先登录账户</a></h4><br/>
    {% endif %}
</div>
{% endblock %}
