<!--login.html-->
{% extends "base.html" %}
{% block title %}登录吐槽大会{% endblock %}
{% block content %}
<div class = 'container'>
    {% if message %}
        <div class = 'alert alert-warning'>{{message}}</div>
    {% endif %}
    <p>{{user}}</p>
    <div class = 'row'>
        <div class = 'col-md-12'>
            <div class = 'panel panel-default'>
                <div class = 'panel-heading' align = center>
                    <h3>登录吐槽大会</h3>
                </div>
            </div>
        </div>
        <div class = 'col-md-6'>
            <form action = '.' method = 'POST'>
                {% csrf_token %}
                <table>
                    {{login_form.as_table}}
                </table>
                <input type = 'submit' value = '登录'><br/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
